<html>

<head>
    <title>
        Hot Tunes
    </title>
</head>

<body>
    <p>
        {% autoescape false%}
        {{ question }}
        {% endautoescape %}
    </p>
    <p>
        <div id="answerChoices">
        </div>
        <input type="button" value="Submit" onclick="checkAnswer();">
    </p>
</body>

<script>
    function checkAnswer() {
        let answerGiven = document.querySelector("input[name='answerChoice']:checked").value;
        if (answerGiven === answer) {
            alert("You got it! Click OK to go again!");
            window.location.href = window.location.href;
        } else {
            alert("Sucks to suck! Try again!");
        }
    }
    function shuffle(arr) {
        for(let i = 0; i < arr.length; i += 1) {
            let idx1 = Math.floor(Math.random() * arr.length);
            let idx2 = Math.floor(Math.random() * arr.length);
            let t = arr[idx1];
            arr[idx1] = arr[idx2];
            arr[idx2] = t;
        }
        return arr;
    }
    function inputAnswers() {
        let answerChoices = [
            '{{ decoy1 | safe }}', 
            '{{ decoy2 | safe }}', 
            '{{ answer | safe }}'
        ];
        console.log(answerChoices);
        answerChoices = shuffle(answerChoices);
        console.log(answerChoices);
        document.querySelector("#answerChoices").innerHTML =
            `<input type="radio" name="answerChoice" id="answerChoice0" value="${answerChoices[0]}">${answerChoices[0]}` +
            `<br>` +  
            `<input type="radio" name="answerChoice" id="answerChoice1" value="${answerChoices[1]}">${answerChoices[1]}` +
            `<br>` +
            `<input type="radio" name="answerChoice" id="answerChoice2" value="${answerChoices[2]}">${answerChoices[2]}`;
    }
    let answer = '{{ answer | safe }}';
    inputAnswers();
</script>

</html>
